<%= form_for [:admin, @season] do |f| %>
    <div class="row">
      <div class="col-md-2">
        <div class="title pull-right">名称(必填)</div>
      </div>
      <div class="col-md-4">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>


    <% 1.upto(4) do |i| %>
        <% course_time = @season&.course_times&.find_by(start_at: i) %>
        <div class="row">
          <div class="col-md-2">
            <div class="title pull-right">第<%= i %>节课</div>
          </div>
          <div class="col-md-4">
            <%= text_field_tag "course_time[#{i}][start_at]", course_time&.start_at, class: 'form-control datetimepicker' %>
          </div>
          <div class="col-md-4">
            <%= text_field_tag "course_time[#{i}][end_at]", course_time&.end_at, class: 'form-control datetimepicker' %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-10">
        <%= f.submit '提交', class: 'btn btn-primary pull-right' %>
      </div>
    </div>


<% end %>