<div class="row">
  <div class="col-md-12 text-center">
    <h3>Fyoga课表(<%= @today.month %>月份)</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= @today.strftime('%Y.%m.%d %a') %>(<%= t(@today.strftime('%a')) %>)
  </div>
</div>
    <table class="table table-bordered course-table">
      <% @schedules.each do |s| %>
        <% course = s.course %>
        <tr class="text-center course-tr">
          <th class="text-center" valign="middle" style="vertical-align: middle"><%= s.start_at.strftime('%H:%M') %>~<%= s.end_at.strftime('%H:%M') %></th>
          <td style="background-color: <%= s.user.user_info.color %>">
            <div class="en-name"><%= course.en_name %></div>
            <div class="cn-name"><%= course.cn_name %></div>
            <div class="en-name">(<%= course.en_name %>)</div>
          </td>
        </tr>
      <% end %>
    </table>