<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Fyoga后台管理</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= params[:controller].gsub('/', '-') %>" id="<%= params[:controller].gsub('/', '-') %>-<%= action_name %>">
<div class="container-fluid">
  <% if current_user&.admin? %>
      <div class="sidebar">
        <%= image_tag 'sidebar-background.jpeg', class: 'background-image' %>
        <div class="cover"></div>
        <%= render 'shares/side_bar_menu' %>
      </div>
  <% end %>

  <div class="content">
    <%= render 'shares/admin_header' %>
    <%= yield %>
  </div>
</div>
</body>
</html>
